

.plant-single {
	padding: 20px 0;
	.plant-single__image-box {
		background-color: #00bff3;
        img {
          max-width:100%;
          max-height:100%;
        }
	}
	.plant-single__image {
		width: 100%;
		padding-top: 100%; 
		background-image: url( /images/placeholder-plant.jpg );
		background-size: cover;
		background-repeat: no-repeat;
	}
	.plant-single__name {
		
	}
	.plant-single__family {
		
	}
	.plant-single__area {
		
	}
	.plant-single__date-planted {
		
	}
	.plant-single__nutrient,
	.plant-single__growing-medium,
	.plant-single__ph {
		clear: both;
		cursor: pointer;
		span {
			color: #d2d2d2;
		}
	}
	.plant-single__nutrient {
		
	}
	.plant-single__ph {
		
	}
}