
//  All headers
.fk-header {
 	height: 225px;
 	width: 100%;
 	background-size: cover;
 	background-position: center top;
 	background-repeat: no-repeat;


}

// .plants header only
.fk-header.plants {
	background-image: url( images/bg-plant.jpg );
}

// .systems header only
.fk-header.systems {
	background-image: url( images/bg-system.jpg );

}


