@import '/lib/variables.import.less';

// This is shared by PlantCount.jsx and SystemCount.jsx
.fk-header {
 	height: 225px;
 	width: 100%;
 	background-size: cover;
 	background-position: center top;
 	background-repeat: no-repeat;
 	overflow: hidden;
	// Count
	.header__count__box {
		position: relative;
		height: 75px;
		max-width: 400px;
		margin: 90px auto 0 auto;
		text-align: center;
	}
	.header__count {
		position: absolute;
	}
	.header__count__number {
		font-size: 40px;
		height: 35px;
		color: @white;
		font-family: @mainfont-light;
	}
	.header__count__title {
		position: relative;
		i {
			font-size: 17px;
			color: @lime;
			margin-right: 8px;
			vertical-align: sub;
		}
		span {
			color: @teal;
		}
		.fk-varieties { // individual icon is off
			margin-right: 4px;
		}
	}
	.header__count__icon {
		display: inline;
	}
	.header__count.center{
		position: relative;
		.header__count__number {
			height: 50px;
			padding-top: 10px;
			font-size: 60px;
		}
		.header__count__title {
			width: 80px;
			margin: 0 auto;
		}
	}
	.header__count.left{
		width: 80px;
		top: 15px;
		left: 25px;
	}
	.header__count.right{
		width: 80px;
		top: 15px;
		right: 25px;
	}

	
}

// .plants header only
.fk-header.plants {
	background-image: url( images/bg-plant.jpg );
}

// .systems header only
.fk-header.systems {
	background-image: url( images/bg-system.jpg );

}